In [1]:
!python -V

Python 3.11.9

In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
# Question 1: What's the version of Pandas that you installed?
pd.__version__

'2.2.2'

In [4]:
if not os.path.exists('../data/laptops.csv'):
    !wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv -P ../data

In [5]:
df = pd.read_csv('../data/laptops.csv')
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [6]:
# Question 2: How many records are in the dataset?
df.shape[0]

2160

In [7]:
# Question 3: How many laptop brands are presented in the dataset?
df['Brand'].nunique()

27

In [8]:
# Question 4: How many columns in the dataset have missing values?
df.isnull().sum() # 3 columns

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [9]:
# Question 5: What's the maximum final price of Dell notebooks in the dataset?

df[df['Brand'] == 'Dell']['Final Price'].max()

3936.0

In [10]:
# Question 6:

# 1. Find the median value of Screen column in the dataset.
# 2. Next, calculate the most frequent value of the same Screen column.
# 3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
# 4. Now, calculate the median value of Screen once again.
# Has it changed?

# Hint: refer to existing mode and median functions to complete the task.

median_screen = df['Screen'].median()
mode_screen = df['Screen'].mode().values[0]
df['Screen'].fillna(mode_screen)
df['Screen'] = df['Screen'].fillna(mode_screen)
median_screen_after = df['Screen'].median()
print(f'Screen median before imputation: {median_screen}, Screen median after imputation: {median_screen_after}') # No change in median after imputation

Screen median before imputation: 15.6, Screen median after imputation: 15.6

In [11]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             0
Touch              0
Final Price        0
dtype: int64

In [12]:
# Question 7:

# 1. Select all the "Innjoo" laptops from the dataset.
# 2. Select only columns RAM, Storage, Screen.
# 3. Get the underlying NumPy array. Let's call it X.
# 4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# 5. Compute the inverse of XTX.
# 6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
# 7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result?
# Note: You just implemented linear regression. We'll talk about it in the next lesson.

X = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']].values
y = np.array([1100, 1300, 800, 900, 1000, 1100])

XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
w = XTX_inv.dot(X.T).dot(y)

np.sum(w)

91.29988062995815